<%- include('../includes/head.ejs') %>

    <%- include('../includes/navbar.ejs') %>

  <!-- <div class="container col-md-10">
  <p class="text-primary">Started: <%= currentDate %></p>
  </br>
  <p class="text-danger">Finish:  <%= finishDate %></p>
  </div> -->

<div class="container col-md-12">
   <!-- START OF TESTING PURPOSES -->

  <!-- <div id="timerLabel">Loading...</div> -->
  <div>Assessment Minutes:<span id="timerz"> 0 minutes</span> / <%= scenario.time %></div>
  <!-- <button onclick="resetStartTime()">Reset</button> -->
  <!-- END OF TESTING PURPOSES -->
    <form action="/assessment" id="userSubmit" name="userSubmit" method="POST">
        <input type="hidden" id="title" name="title" value="<%= scenario.title %>"><h1 class="text-center"><%= scenario.title %></h1>
        <div class="invisible"><input readonly name="scenarioId" type="text" class="form-control" value="<%= scenario._id %>" placeholder="<%= scenario._id %>"></div>
        <div class="mb-3"></label>
        </div>
        <!-- <div>You have <span id="time"><%= scenario.time %></span> minutes remaining to submit your results.</div> -->
        <div class="mb-3">
            <textarea readonly class="form-control" id="submitScenario" name="submitScenario" rows="12"><%= scenario.description %></textarea>
        </div>
        <div class="mb-3">

            <textarea class="form-control" id="userInput" name="userInput" placeholder="Write your action plan here" rows="12"></textarea>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" id="userSubmit" onclick="submitForm()" value="Submit form" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>


    if (document.getElementById("userSubmit")) {
        setTimeout("submitForm()", '<%= scenario.time %>' * 60000); // set timout 
    }

    function startTimer(duration, display) {
        var start = Date.now(),
            diff,
            minutes,
            seconds;
        function timer() {
            // get the number of seconds that have elapsed since 
            // startTimer() was called
            diff = duration - (((Date.now() - start) / 1000) | 0);

            // does the same job as parseInt truncates the float
            minutes = (diff / 60) | 0;
            seconds = (diff % 60) | 0;

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds; 

            if (diff <= 0) {
                // add one second so that the count down starts at the full duration
                // example 05:00 not 04:59
                start = Date.now() + 1000;
            }
        }
        // we don't want to wait a full second before the timer starts
        timer();
        setInterval(timer, 1000);
    }      

        window.onload = function () {
            var fiveMinutes = "<%= scenario.time %>" * 60,
                display = document.querySelector('#time');
            startTimer(fiveMinutes, display);
        }

        function submitForm() { // submits form
            document.getElementById("userSubmit").submit();
            window.localStorage.clear();
        }
        
        // Code goes here
        function resetStartTime() {
        startTime = new Date();
        window.localStorage.setItem('startTime', startTime);
        return startTime;
        }

        document.addEventListener('DOMContentLoaded', function(event) { 

        // get timestamp
        startTime = new Date(window.localStorage.getItem('startTime') || resetStartTime());

        // start timer
        window.setInterval(function() {

            var secsDiff = new Date().getTime() - startTime.getTime();
            
            document.getElementById('timerz').innerText = parseInt(Math.floor((secsDiff / 1000) / 60)) + " minutes"

            if(parseInt(Math.floor(secsDiff / 1000)) > parseInt('<%= scenario.time %>' * 60)){
                submitForm()
             }

            document.getElementById('timerLabel').innerText = Math.floor(secsDiff / 1000) + ' seconds elapsed.';
        }, 1000);
        
    });
    </script>

<%- include('../includes/end.ejs') %>